body {
  padding: 0px;
  margin: 0px;
  background-image: url("/assets/imgs/background.jpg");
}

.main {
  width: 770px;
} 

.heading {
  background-color: rgb(255, 255, 204);
  color: #5E3300;
  
}

/* .extra {
  margin-top: -px;
} */

.anchor {
  text-decoration: underline;
} 

.anchor:hover {
  text-decoration: none;
  font-size: 90%;
  
}


/* body {
  padding: 0px;
  margin: 0px;
  background-image: url("/assets/imgs/background.jpg");
}

.main-sec {
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  width: 45%;
}
.img-1 {
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #3366cc;
  text-decoration: underline;
}
.a-1 {
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #3366cc;
  text-decoration: underline;
}

.h-1 {
  background-color: rgb(255, 255, 204);
  color: #5e3300;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.h-2 {
  margin: 5%;
  color: #5e3300;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.img-2 {
  float: right;
  margin-top: 3%;
  float: right;
}

.a-2 {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #3366cc;
  text-decoration: underline;
}

.h-5 {
  background-color: rgb(255, 255, 204);
  color: #5e3300;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.p-1 {
  text-align: center;
  font-family: Tahoma, Verdana, Arial;
  font-size: 10px;
  font-weight: lighter;
}

.tab-1 {
  text-align: center;
  border: 2px rgb(221, 221, 221);
  background-color: #d8d8d8;
  font-family: Tahoma, Verdana, Arial;
  margin: 10px;
}

.tab-2 {
  text-align: left;
}

.th-1 {
  background-color: rgb(255, 153, 51);
  border: 1px rgb(223, 223, 223);

  font-family: Tahoma, Verdana, Arial;
}

.h-3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 5px;
  font-weight: bold;
  color: #5e3300;
  font-size: 15.6px;
  text-align: right;
}

.p-2 {
  margin-left: 40px;
  margin-right: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.imgs {
  float: left;
  padding-bottom: 30px;
  width: 300px;
}

.h-4 {
  text-align: center;
  color: rgb(131, 74, 0);
}

.f-1 {
  text-align: center;

  font-weight: lighter;
  font-size: small;
}

.dis {
  margin: 10px;
  padding-bottom: 10px;
}

.dis-2 {
  margin-top: -15px;
}

h2::first-letter {
  font-size: 35px;
} */