body {
  padding: 0px;
  margin: 0px;
  background-image: url("/assets/imgs/background.jpg");
}

.main-sec {
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  width: 45%;
}
.img-1 {
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #3366cc;
  text-decoration: underline;
}
.a-1 {
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #3366cc;
  text-decoration: underline;
}

.h-1 {
  background-color: rgb(255, 255, 204);
  color: #5e3300;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.h-2 {
  margin: 5%;
  color: #5e3300;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.img-2 {
  float: right;
  margin-top: 3%;
  float: right;
}

.a-2 {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #3366cc;
  text-decoration: underline;
}

.h-5 {
  background-color: rgb(255, 255, 204);
  color: #5e3300;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.th {
  padding: 15px 20px;
  border: 1px solid #ddd;
  text-align: center;
  font-family: Tahoma, Verdana, Arial;
  font-size: 13px;
  color: #333333;
  margin: 10%;
  padding: 2%;
  background-color: rgb(255, 153, 51);
  color: #333333;
}

.div-2 {
  padding-left: 8%;
  padding-right: 8%;
}

.td,
.tr {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-family: Tahoma, Verdana, Arial;
  font-size: 13px;
  color: #333333;
  margin: 10%;
  padding: 2%;
  background-color: #e6e6e6;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.p-1 {
  text-align: center;
  font-family: Tahoma, Verdana, Arial;
  font-size: 10px;
  font-weight: lighter;
}

.h-3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1px;
  font-weight: bold;
  color: #5e3300;
  font-size: 14.7px;
  text-align: right;
}

.p-2 {
  margin-left: 40px;
  margin-right: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.imgs {
  float: left;
  padding-bottom: px;
  width: 320px;
}

.h-4 {
  text-align: center;
  color: rgb(131, 74, 0);
}

.f-1 {
  text-align: center;

  font-weight: lighter;
  font-size: small;
}

.img-8 {
  text-align: center;
}

.dis {
  margin: 10px;
  padding-bottom: 10px;
}

.dis-2 {
  margin-top: -15px;
  font-weight: lighter;
}
